<div class="popup">
  <div class="popup-header">
    <i class="close-button" (click)="closeDialog()"
      ><img src="../../../assets/close.svg"
    /></i>
    <h3 class="popup-title">
      {{ title }}
    </h3>
  </div>
  <form class="form" [formGroup]="createForm" autocomplete="off">
    <mat-form-field class="popup-input">
      <mat-label>Дата регистрации</mat-label>
      <input
        class="form-input"
        type="date"
        matInput
        formControlName="registrationDate"
      />
    </mat-form-field>
    <mat-form-field class="popup-input">
      <mat-label>ФИО</mat-label>
      <input class="form-input" matInput formControlName="fio" />
    </mat-form-field>
    <mat-form-field class="popup-input">
      <mat-label>Должность</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let position of positions" [value]="position">
          {{ position }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="popup-input">
      <mat-label>Почта (логин)</mat-label>
      <input
        class="form-input"
        autocomplete="off"
        matInput
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field class="popup-input">
      <mat-label>Пароль</mat-label>
      <input
        class="form-input"
        autocomplete="off"
        matInput
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field class="popup-input">
      <mat-label>Телефон, привязанный к мессенджеру</mat-label>
      <input
        class="form-input"
        matInput
        formControlName="phoneNumber"
        mask="(000) 000 00 00"
        prefix="+7"
      />
    </mat-form-field>
    <button
      mat-raised-button
      class="popup-button"
      color="accent"
      [disabled]="!createForm.valid"
      (click)="submitForm()"
      *ngIf="!this.data"
    >
      Создать пользователя
    </button>
    <button
      mat-raised-button
      class="popup-button"
      color="accent"
      [disabled]="!createForm.valid"
      (click)="submitEditForm()"
      *ngIf="this.data"
    >
      Обновить данные пользователя
    </button>
  </form>
</div>
