.title {
  margin-top: 10px;
  text-align: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.user-list-filter {
  display: flex;
  justify-content: center;
}

.table {
  max-width: 1000px;
}

th {
  padding: 0px 30px;
  align-items: center;
}

.empty-request-message {
  text-align: center;
  margin-top: 50px;
  color: rgb(238, 32, 77);
}

.buttons-board {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.action-button {
  cursor: pointer;
}

.create-button {
  width: 200px;
}
