.title {
  margin-top: 10px;
  text-align: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.table {
  min-width: 100%;
}

th {
  padding: 0px 30px;
  align-items: center;
}

.buttons-board {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: baseline;
}

.refresh-button {
  cursor: pointer;
}

.create-button {
  width: 200px;
}
